<div class="container-fluid">
    <div class="row pt-2">
        <div class="col-md-8">
            <h1 class="text-center">Welcome to Decentralize Bank</h1>
        </div>

        <div class="col-md-4">
            <div *ngIf="!connected">
                <label class="badge badge-pill badge-danger"> You are not connected </label>
            </div>

            <div *ngIf="!connected">
                <label class="badge badge-pill badge-warning"> {{ message }}</label>
            </div>


            <div *ngIf="connected">
                <label class="badge badge-pill badge-success"> You are connected </label>
            </div>

        </div>

    </div>

    <div class="row pt-2">
        <div class="col-md-4">
            <label class="bg-light">Bank total Asset : {{ this.totalAssest }}</label>
        </div>


        <div class="col-md-4">
            <label class="bg-light">{{this.sighnerAddress}} amount Deposited : {{this.userTotalAsset}} Matic</label>


        </div>

        <div class="col-md-4">
            <label class="bg-light">{{this.sighnerAddress}} amount of yeild Token : {{this.userTotalToken}} Free</label>

        </div>



    </div>

    <div class="row pt-4">
        <div class="col-md-6">

            <form [formGroup]="withDrawForm">
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input type="email" class="form-control" id="Withdraw" formControlName="Withdraw">
                    <small id="emailHelp" class="form-text text-muted">Please do not use your real Token!</small>
                </div>

                <button type="submit" class="btn btn-primary" (click)="withDraw()">Withdraw</button>
            </form>


        </div>

        <div class="col-md-6">
            <form [formGroup]="depositForm">
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input type="email" class="form-control" id="Deposite" formControlName="Deposite">
                    <small id="emailHelp" class="form-text text-muted">Please do not use your real Token!</small>
                </div>

                <button type="submit" class="btn btn-primary" (click)="deposite()">Deposite</button>
            </form>



        </div>

    </div>

</div>
