<div class="container-fluid">
        <div class="row pt-5 bg-dark bg-gradient text-light">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h3>Welcome to Decentralize Bank</h3>
            </div>

            <div class="col-md-2 pb-2">
                <div *ngIf="!connected">
                    <label class="badge badge-pill badge-danger bg-danger"> You are not connected </label>
                </div>
                <div *ngIf="!connected">
                    <label class="badge badge-pill badge-warning bg-warning"> {{ message }}</label>
                </div>
                <div *ngIf="connected">
                    <label class="badge badge-pill badge-success bg-success"> You are connected </label>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <label>Bank total Asset : {{ this.totalAssest }}</label>
                                    <label>{{this.sighnerAddress}} amount Deposited : {{this.userTotalAsset}} Matic</label>
                                    <label>{{this.sighnerAddress}} amount of yeild Token : {{this.userTotalToken}} Free</label>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <form [formGroup]="withDrawForm">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1"></label>
                                            <input type="email" class="form-control" id="Withdraw"
                                                formControlName="Withdraw">
                                            <small id="emailHelp" class="form-text text-muted">Please do not use your
                                                real
                                                Token!</small>
                                        </div>

                                        <button type="submit" class="btn btn-danger"
                                            (click)="withDraw()">Withdraw</button>
                                    </form>
                                    <hr>
                                    <form [formGroup]="depositForm">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1"></label>
                                            <input type="email" class="form-control" id="Deposite"
                                                formControlName="Deposite">
                                            <small id="emailHelp" class="form-text text-muted">Please do not use your
                                                real
                                                Token!</small>
                                        </div>

                                        <button type="submit" class="btn btn-primary"
                                            (click)="deposite()">Deposite</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
